<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Product Repository</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <!--    отступы в табличках   -->
    <style>
        table, th, td {
            padding: 5px;
        }

        table {
            border-spacing: 15px;
        }


    </style>
</head>

<body>
<div class="container">
    <h1>Product Table</h1>
    <div class="row col-md-7 table-responsive">
        <!--    таблица отображения переданной коллекции товаров-->
        <table id="productTable" class="table">
            <thead>
            <tr>
                <!--    шапка-->
                <th>ID</th>
                <th>Vendor Code</th>
                <th>Name</th>
                <th>Description</th>
                <th>Cost</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody>
            <!--    в цикле добавляем все элементы коллекции -->
            <tr th:each="product, rowStat: ${products}">
                <td th:text="${product.id}"></td>
                <td th:text="${product.vendorCode}"></td>
                <td th:text="${product.title}"></td>
                <td th:text="${product.shortDescription}"></td>
                <td th:text="${product.price}"></td>
                <!--   кнопка, которая делает POST в контроллер, передавая нужный ID товара-->
                <td>
                    <form th:action="@{/delete/{id}(id=${product.id})}" th:method="delete">
                        <input type="hidden" name="id" th:value="${product.id}"/>
                        <input type="submit" value="Delete" class="btn btn-danger"/>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
        <!--        форма добавления товара -->
        <form action="#" th:action="@{/add-product}" th:object="${product}" method="post">
            <table>
                <tr>
                    <th colspan="2">Add a new product</th>
                </tr>
                <tr>
                    <td>Vendor Code:</td>
                    <td><input type="text" th:field="*{vendorCode}"/></td>
                </tr>
                <tr>
                    <td>Name:</td>
                    <td><input type="text" th:field="*{title}"/></td>
                </tr>
                <tr>
                    <td>Description:</td>
                    <td><input type="text" th:field="*{shortDescription}"/></td>
                </tr>
                <tr>
                    <td>Cost:</td>
                    <td><input type="text" th:field="*{price}"/></td>
                </tr>
                <tr>
                    <td colspan="2"><input type="submit" th:value="Add"/></td>
                </tr>
            </table>
        </form>

    </div>

</div>
</body>